.header {
  width: 100%;
  height: 200px;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  z-index: 100;
}

.header_transparent {
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.header_dark {
  background-color: #000;
  border-bottom: thin solid #FFF;
}

.header__nav {
  max-width: 1280px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-areas: '. . logo . .'; */
  text-align: center;
}

.header__logo {
  margin: auto;
}

.header__logo-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* .header__link_hidden {
  display: inline;
} */

.header__link:hover {
  color: #fff;
}

.header__link_selected {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}

.header__menu {
  display: none;
  margin: auto;
  background-color: transparent;
  border: none;
}