.header {
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  background-color: #111;
  color: #fff;
  z-index: 10;
}

.header_transparent {
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.header_dark {
  background-color: #000;
}

.header__logo {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 68px;
}

.header__link {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #fff;
}

.header__link_selected {
  text-decoration: underline;
}

.header__link--login {
  border-left: 1px solid #555;
  padding-left: 20px;
}
