.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table__container {
  overflow-x: auto;
}

.table__cell {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  text-align: left;
  text-transform: capitalize;
}

.table__button:hover {
  color: #FFF;
}

.table__button_cancel {
color: #dc3545;
}

.table__button_edit {
  color: #007bff;
}

.table__cell_info {
  color: #f09000;
}

.table__cell_ok {
  color: #02AC66;
}

.table__cell_cancel {
  color: #dc3545;
}
